<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Eldhúsið Þitt</title>
        <link rel="stylesheet" href='http://static.eldhus.org/styles/main.css'>
    </head>
    <body>
        <h1> Velkomin/n í Eldhúsið Þitt </h1>
        
        <h2>Innkaup</h2>
        <p> varstu að versla í matinn? <br> <a href="/innkaup">hér</a> getur þú uppfært eldhúsið þitt</p>         
        <section>
            <h1>Vörurnar mínar</h1>
            <p>
            Hér sérðu hvað er til í eldhúsinu þínu. 
            </p>
            <div class="testbox">
            <form method="post" action=" ">
                 <hr> 
            <?php foreach ($vorur as $vara): ?>
                <?=$vara['Vara'] ?> - <?=$vara['Magn'] ?>                
            <?php endforeach ?>
             <hr> 
             </div>
        </section> 

    </body>
</html>
