<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Innkaup - Bæta við vöru</title>
        <link href='http://static.eldhus.org/styles/main.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header>
            
        </header>
        <h1> Innkaup </h1>
        <p>
            <a href='/' class="button"> Aftur til baka </a>
        </p>
    </body>
</html>
