<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Innkaupin þín</title>
        <link rel="stylesheet" href='http://static.eldhus.org/styles/main.css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
    </head>
    <body>
        <h1> Innkaup </h1>
        <p>
            varstu að kaupa í matinn? <br> þá getur þú bætt við í eldhúsið þitt hérna með því að velja það sem er til á listanum og ef þú finnur ekki það sem þú verslaður þá getur þú bætt í listan hér í forminu hér fyrir neðan.    
        </p>
        <section>           
            <div class="testbox">
            <form method="POST" action="/innkaup/add">
                <hr>
                <select name="vvara" id= "vvara">   
                <?php foreach ($vorur as $vara): ?>                
                    <option value= <?=$vara['id'] ?>><?=$vara['nafn'] ?></option>               
                <?php endforeach ?>
                </select>
                <hr>
                <label id="icon" for="vmagn">Magn :</label><br />
                <input type="text" name="vmagn" id="vmagn" placeholder=" fjöldi t.d stk eða kg" />              
                <input type="submit" class="button"value="Bæta við">                
                <p class= "pform">Ef þú finnur ekki vöruna á listanum.</p>                
               <a href="/vorur" class="button">Skrá Vöru</a>
               <a href='/'class="button"> Til Baka </a>               
               <hr>            
            </form>
            </div>            
        </section>  
        <section>
            <h1>Vörurnar mínar</h1>
            <p>
           Hér getur þú eytt út vörunum þínum 
            </p>
            <div class="testbox">
            <form method="post" action=" ">
                 <hr> 
            <?php foreach ($listi as $list): ?>
                <?=$list['Vara']?> - <?=$list['Magn']?>               
           <li><?php endforeach ?>|| <a href="/innkaup/delete/<?=$vara['id']?>">eyða</a> </li>
             <hr> 
             </div>
        </section>         
    </body>
</html>
