<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Template</title>
        <link href='../styles/main.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header>
            
        </header>
        <h1> Template </h1>
        <p>
            Template Text
        </p>
        <section style="padding-bottom: 20px">
            <h2>Section 1</h2>
            Section Text
        </section>
        <section style="padding-bottom: 20px">
            <h2>Section 2</h2>
            Section Text
        </section>  
    </body>
</html>
