<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Admin - Vara Add</title>
        <link href='http://static.eldhus.org/styles/main.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header>
            
        </header>
        <h1> Eyða vöru </h1>
        <p>
            Ertu viss um að þú viljir eyða vörunni <?=$nafn?>? <br />
            <form action="/vorur/delete" method="POST">
                 <input type="hidden" name="id" name="id" value="<?=$id?>">
                <input type="submit" value="Já, eyðum <?=$nafn?>"> <a href='/admin'> Nei, hætta við</a>
            </form>
        </p>
    </body>
</html>
