<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Admin - Vara Add</title>
        <link href='http://static.eldhus.org/styles/main.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header>
            
        </header>
        <h1> Admin </h1>
        <p>
            Vörunni <?=$nafn?> hefur verið bætt inn <br />
            <a href='/vorur'> Aftur til baka </a>
        </p>
    </body>
</html>
