<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Admin</title>
        <link href='http://static.eldhus.org/styles/main.css' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script>
        $( document ).ready(function() {
            $("#ShowAdd").click(function() {
                $("#AddVara").toggle();
            });
        });
        </script>

    </head>
    <body>
        <header>
            
        </header>
        <h1> Admin </h1>
        <p>
            <span id='ShowAdd' style='cursor: pointer; text-decoration: underline;'>Bæta við nýrri Matvöru</span>
        </p>

        <section id='AddVara' style="padding-bottom: 20px; display:none;">
            <div class="addBox">
            <form action="/vorur/add" method="POST">
                <div class="accounttype">
                    <label id="icon" for="name">Nafn :</label><br />
                    <input type="text" name="vnafn" id="vnafn" placeholder="t.d mjólk eða lambakjöt" />
                    <br>
                    <label id="icon" for="vflokkur">Flokkur :</label><br />
                    <select id="vflokkur" name="vflokkur">
                        <option value="1">Kælivara</option>
                        <option value="2">Stofuhiti</option>
                    </select> 
                  <br>
                  <label id="icon" for="vtegund">Tegund :</label><br />
                  <input type="text" name="vtegund" id="vtegund" placeholder="kjöt,mjólkurvara,krydd,súpur og sósur" />
                  <br>
                  <label id="icon" for="vform">Form :</label><br />
                  <input type="text" name="vform" id="vform" placeholder="gúllas,hakk,snitsel" />
                </div>
                <hr />
                <input type="submit" value="Bæta við">
            </form> 
            </div>
        </section>

        <section style="padding-bottom: 20px">
            <h2>Allar skráðar matvörur :</h2>
            <?php foreach ($vorur as $vara): ?>
                <li> <?=$vara['nafn']?> - <?=$vara['tegund']?> - <?=$vara['form']?> || <a href="/vorur/delete/<?=$vara['id']?>">eyða</a> </li>
            <?php endforeach ?>
        </section>  
    </body>
</html>
