            html,body,div,span,object,iframe,
            h1,h2,h3,h4,h5,h6,p,blockquote,pre,
            abbr,address,cite,code,
            del,dfn,em,img,ins,kbd,q,samp,
            small,strong,sub,sup,var,
            b,i,
            dl,dt,dd,ol,ul,li,
            fieldset,form,label,legend,
            table,caption,tbody,tfoot,thead,tr,th,td,
            article,aside,canvas,details,figcaption,figure,
            footer,header,hgroup,menu,nav,section,summary,
            time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
            body{line-height:1;}
            article,aside,details,figcaption,figure,
            footer,header,hgroup,menu,nav,section{display:block;}
            nav ul{list-style:none;}
            blockquote,q{quotes:none;}
            blockquote:before,blockquote:after,
            q:before,q:after{content:'';content:none;}
            a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
            ins{background-color:#ff9;color:#000;text-decoration:none;}
            mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
            del{text-decoration:line-through;}
            abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
            table{border-collapse:collapse;border-spacing:0;}
            hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
            input,select{vertical-align:middle;}
            html{ background: #EDEDED; height: 100%; }
            body{background:#FFF;margin:0 auto;min-height:100%;padding:0 30px;width:440px;color:#666;font:14px/23px Arial,Verdana,sans-serif;}
            h1,h2,h3,p,ul,ol,form,section{margin:0 0 20px 0;}
            h1{color:#333;font-size:20px;}
            h2,h3{color:#333;font-size:14px;}
            h3{margin:0;font-size:12px;font-weight:bold;}
            ul,ol{list-style-position:inside;color:#999;}
            ul{list-style-type:square;}
            code,kbd{background:#EEE;border:1px solid #DDD;border:1px solid #DDD;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:0 4px;color:#666;font-size:12px;}
            pre{background:#EEE;border:1px solid #DDD;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:5px 10px;color:#666;font-size:12px;}
            pre code{background:transparent;border:none;padding:0;}
            a{color:#70a23e;}
            header{padding: 30px 0;text-align:center;}

          /*  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}*/

/*fieldset, img {border:0}*/

/*ol, ul, li {list-style:none}*/

/*:focus {outline:none}*/

/*body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}*/

.pform {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
/*h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}*/

form.html{
  background-color: #ffffff;
}

.testbox {
  margin: 20px auto;
  width: 320px; 
  height: 300px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  
}

section{
      padding-bottom: 20px
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
      cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 0.5em;
      height: 0.25em;
      background: transparent;
      top: 7.5px;
      left: 4.5px;
      border: 3px solid #ffffff;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
      opacity: 1;
}

form.hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text]{  
  width: 200px; 
  height: 30px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  /*margin-top: 10px; */
  padding-left: 10px;
}

select{  
  width: 230px; 
  height: 30px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  /*margin-top: 10px; */
  padding-left: 10px;
}

#icon {
  /*display: inline-block;*/
  width: 40px;
  background-color: #3a57af;
  padding: 2px 0px 2px 2px;
  margin-left: -5px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

a.button,.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 6px 0px 6px;
  margin: 8px 8px 8px 0px;
  display: inline-block;
  /* float: right; */
  text-decoration: none;
  /* width: 75px; */ 
  height: 25px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

a.button:hover,.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

